@{
    ViewData["Title"] = "Cadastro";
    Layout = "_Layout";
}

<div class="container">
    <div class="login-container">
        <div class="logo">
            <img src="~/imagens/logofinal.png" alt="Logo Guia Universidades">
        </div>

        <div id="feedbackMessage" class="feedback-message"></div>

        <form class="login-form" action="@Url.Action("Cadastrar", "Usuarios")" method="POST">
            <input type="text" name="nome" placeholder="NOME" required>
            <input type="email" name="email" placeholder="E-MAIL" required>
            <input type="password" name="senha" placeholder="SENHA" required>
            <input type="password" name="confirmarSenha" placeholder="CONFIRMAR SENHA" required>
            <button type="submit">CADASTRAR</button>
            <div class="cadastre-se">
                <span>Já possui uma conta? <a href="@Url.Action("Login", "Usuarios")">Faça login</a></span>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const feedbackMessage = document.getElementById("feedbackMessage");

        // Mostrar a mensagem de erro
        const errorMessage = '@TempData["Error"]';

        if (errorMessage) {
            feedbackMessage.textContent = "Erro no cadastro"
            feedbackMessage.className = "feedback-message error show"; 

            // Esconde a mensagem após 3 segundos
            setTimeout(function () {
                feedbackMessage.className = feedbackMessage.className.replace("show", ""); 
                feedbackMessage.style.visibility = "hidden";
            }, 3000);
        }
    });
</script>


<style>
.feedback-message {
    position: fixed;
    top: 20px; 
    right: 20px; 
    min-width: 250px; 
    padding: 16px; 
    background-color: #f8d7da; 
    color: #721c24; 
    border-radius: 5px; 
    text-align: center; 
    transition: visibility 0s, opacity 0.5s linear;
    visibility: hidden; 
    opacity: 0; 
}

.feedback-message.success {
    background-color: #d4edda; 
    color: #155724; 
}

.feedback-message.error {
    background-color: #f8d7da; 
    color: #721c24; 
}

.feedback-message.show {
    visibility: visible; 
    opacity: 1; 
}
</style>
