@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container home-container">
    <div class="text-center">
        <h1 class="display-4">Bem-vindo ao Guia Universidades</h1>
        <p class="lead">Seu guia universitário para uma escolha mais segura e objetiva.</p>

        <!-- Campo de Busca -->
        <form class="search-form" action="@Url.Action("Search", "Home")" method="get">
            <input type="text" name="query" placeholder="Buscar..." required />
            <button type="submit">Buscar</button>
        </form>

        <div class="features">
            <div class="feature">
                <h3>Puc Minas Gerais</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, similique.</p>
            </div>
            <div class="feature">
                <h3>USP São Paulo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eligendi sit earum ipsam qui aliquam voluptates quibusdam dicta nihil aut! Expedita molestiae id quae numquam.</p>
            </div>
            <div class="feature">
                <h3>FGV</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi explicabo laudantium quos reiciendis veritatis dolore ducimus consectetur fuga nisi doloribus!</p>
            </div>
        </div>

        <a class="btn-start" href="/register">Cadastrar Universidade</a>
    </div>
</div>
