html, body {
    height: 100%; 
    margin: 0; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.logo img {
    width: 160px;
    margin-bottom: 20px;
}

.login-form {
    text-align: center; 
}

    .login-form input {
        width: 100%; 
        padding: 10px;
        margin: 10px 0; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
    }

    .login-form button {
        width: 100%; 
        padding: 10px; 
        background-color: #ff8800; 
        color: white; 
        border: none; 
        border-radius: 5px; 
    }

        .login-form button:hover {
            background-color: #e07700; 
        }

.esqueci-senha {
    display: block; 
    margin: 10px 0; 
    font-size: 12px; 
    color: #666; 
    text-decoration: none; 
}

.cadastre-se {
    margin-top: 20px; 
    position: relative; 
    z-index: 10;
}

    .cadastre-se a {
        color: #ff8800; 
        text-decoration: underline;
        font-weight: bold; 
        cursor: pointer; 
        pointer-events: auto; 
    }
